<%-include('./header.ejs')%>

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <% if( typeof message !== 'undefined' && message.length > 0){ %>
                        <div class="alert alert-success">
                            <!-- To Print -->
                            <%= message %>
                        </div>
                        <% } %>
                        <% if(typeof msg !== 'undefined' && msg.length > 0){ %>
                            <div class="alert alert-danger">
                                <!-- To Print -->
                                <%= msg %>
                            </div>
                        <% } %>
                    <h1>Transform today for a Brighter <em>Tomorrow</em></h1>
                    <p>Aims to promote eco-friendly practices,
                         providing resources, tips, and news to inspire individuals and organizations 
                         to adopt sustainable lifestyles and reduce their environmental impact.</p> 
                    <a href="/#about" class="main-button-slider">KNOW US BETTER</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
     
</div>
<!-- ***** Welcome Area End ***** -->

<!-- number counter start -->
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-3590cdd5-3fed-4087-a051-b84ea6c9b905 mb-5" data-elfsight-app-lazy></div>
<!-- number counter end -->

<!-- ***** Carousel Start ***** -->
<section id="carousel">
    <div id="myCarousel" class="carousel slide mb-3 shadow-lg mt-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
            <img class="" src="../images/plant-image-slider1.webp" alt="slider-img-1" width="100%" height="400px" />
            <div class="carousel-caption">
           <h2 >Food production needs to increase by 50% by 2050 to feed the growing population</h2>
        </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img class="" src="../images/poverty.jpeg" alt="slider-img-2" width="100%" height="400px" />
        <div class="carousel-caption">
            <h2 > More than 800 million people still live in extreme poverty</h2>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img class="" src="../images/sliderImage2.jpeg" alt="slider-img-3" width="100%" height="400px" />
        <div class="carousel-caption">
           <h2 >Air pollution is responsible for 7 million premature deaths annually</h2>
            </div>
       </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- ***** Carousel End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <!-- <h2>01</h2> -->
                        <img src="/images/Personalised reports.jpg" alt="">
                        <h4>Personalised reports</h4>
                        <p>Stay organized with a Personalized Calendar tailored to your sustainability goals.</p>
                        <a href="#testimonials" class="main-button">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <!-- <h2>02</h2> -->
                        <img src="/images/Event calendar.jpg" alt="">
                        <h4>Event calendar</h4>
                        <p>Discover upcoming eco-events and activities in our Event Calendar.</p>
                        <a href="#testimonials" class="main-button">
                            Discover More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <!-- <h2>03</h2> -->
                        <img src="/images/Carbon Footprint calculator.jpg" alt="">
                        <h4>Carbon Footprint calculator</h4>
                        <p>Estimate your environmental impact using our Carbon Footprint Calculator.</p>
                        <a href="https://www.carbonfootprint.com/calculator.aspx" class="main-button" target="_blank">
                            More Detail
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- event calendar start -->
<div class="container calendar-background">
    <div class="container">
        <h1 class="text-center my-4">Event Calendar</h1>
        <div id="month-name" class="text-center mb-4"></div>
        <div id="calendar" class="calendar-row row justify-content-center"></div>
    </div>
    <!-- <div class="container">
        <h1 class="text-center my-4">Event Calendar</h1>
        <div id="month-name" class="text-center mb-4"></div>
        <div id="calendar" class="calendar-row row justify-content-center"></div>
        <div id="flash-message"></div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/eventCalendar.js"></script>
</div>
<!-- event calendar end -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="/images/img2.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h4>connect with communities</h4>
                            <p>Connect with like-minded individuals, share ideas, and collaborate on sustainable initiatives in our community section.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                        <img src="/images/about-icon-02.png" alt="">
                        <div class="text">
                            <h4>know about government policies</h4>
                            <p>Learn about our guidelines and expectations in the Community Policy section..</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                        <img src="/images/about-icon-03.png" alt="">
                        <div class="text">
                            <h4>track your progress</h4>
                            <p>Monitor your eco-friendly efforts and achievements in the Track Your Progress section.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor"></div>



<%-include('./footer.ejs')%>