<%-include('./header.ejs')%>

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <% if( typeof message !== 'undefined' && message.length > 0){ %>
                        <div class="alert alert-success">
                            <!-- To Print -->
                            <%= message %>
                        </div>
                        <% } %>
                        <% if(typeof msg !== 'undefined' && msg.length > 0){ %>
                            <div class="alert alert-danger">
                                <!-- To Print -->
                                <%= msg %>
                            </div>
                        <% } %>
                    <h1>Empower your path to a  <em>GREENER</em> Future</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi excepturi ab similique expedita doloribus aut vero obcaecati quis non explicabo accusamus adipisci perferendis, consectetur culpa vel, nihil, ex autem officiis?</p> 
                    <a href="/#about" class="main-button-slider">KNOW US BETTER</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
     
</div>
<!-- ***** Welcome Area End ***** -->



<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img src="/images/features-icon-2.png" alt="">
                        <h4>Personalised reports</h4>
                        <p>Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.</p>
                        <a href="#testimonials" class="main-button">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img src="/images/features-icon-2.png" alt="">
                        <h4>event calendar</h4>
                        <p>Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.</p>
                        <a href="#testimonials" class="main-button">
                            Discover More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img src="/images/features-icon-3.png" alt="">
                        <h4>Carbon Footprint calculator</h4>
                        <p>Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.</p>
                        <a href="#testimonials" class="main-button">
                            More Detail
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- event calendar start -->
<div class="container calendar-background">
    <div class="container">
        <h1 class="text-center my-4">Event Calendar</h1>
        <div id="month-name" class="text-center mb-4"></div>
        <div id="calendar" class="calendar-row row justify-content-center"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/eventCalendar.js"></script>
</div>
<!-- event calendar end -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="/images/img2.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h4>connect with communities</h4>
                            <p>Please do not redistribute this template ZIP file for a download purpose. You may <a
                            rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> us for
                        additional licensing of our template or to get a PSD file.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                        <img src="/images/about-icon-02.png" alt="">
                        <div class="text">
                            <h4>know about government policies</h4>
                            <p>You can <a rel="nofollow"
                                    href="https://templatemo.com/tm-540-lava-landing-page">download Lava
                                    Template</a> from our website. Duis viverra, ipsum et scelerisque placerat, orci
                                magna consequat ligula.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                        <img src="/images/about-icon-03.png" alt="">
                        <div class="text">
                            <h4>track your progress</h4>
                            <p>Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                                maximus porta. Curabitur tristique lacus.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor"></div>



<%-include('./footer.ejs')%>