.calendar-background {
    background-color: #cdd64c;
    /* font-family: 'Arial', sans-serif; */
    padding-bottom: 30px;
    padding-top: 1px;
    font-family: cursive;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 2px 2px 20px #a79c9c;
}

#month-name {
    font-size: 2rem;
    font-weight: bold;
    color: #0d5208;
}

.day {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #efe3d2;
    box-shadow: 5px 5px 8px rgba(27, 75, 1, 0.737);
    margin: 5px;
    font-size: 1rem;
    color: black;
    transition: transform 0.2s;
}

.day:hover {
    transform: scale(1.1);
}

.event-day {
    background-color: #e39c55;
    color: white;
    font-weight: bold;
}

.calendar-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .day {
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
    }
}
